ENVIRONMENT=LOCAL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
KAFKA_PORT=19092

TEST_SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://postgres:example@localhost:5432/postgres"
PROJECT_NAME=template_service


